.genericCenterContent {
  width: 100%;
  display: block;
  justify-content: center;
}

.genericMainHeader {
  font-size: 30px;
}

.heavyText {
  font-weight: bolder;
}

.genericIconSize {
  font-size: 45px;
}